<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>cn.cqut.yyc.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/main.html</url-pattern>
        <url-pattern>/html/addStudent.html</url-pattern>
        <url-pattern>/html/updateStudent.html</url-pattern>
        <url-pattern>/html/viewStudent.html</url-pattern>
        <!--filter只会过滤上述路径的内容：也就是说你请求上述资源都会被过滤器拦截进行验证-->
        <!--1.以”/’开头和以”/*”结尾的是用来做路径映射的
            2.以前缀”*.”开头的是用来做扩展映射的,如*.html。
            3.“/” 是用来定义default servlet映射的。
            4.剩下的都是用来定义详细映射的。比如： /aa/bb/cc.action
            不能是属于路径映射，也属于扩展映射，否则会导致容器无法判断，如/admin/*.html”。
        -->
    </filter-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>cn.cqut.yyc.controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>cn.cqut.yyc.controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>operationServlet</servlet-name>
        <servlet-class>cn.cqut.yyc.controller.operationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>getDataServlet</servlet-name>
        <servlet-class>cn.cqut.yyc.controller.getDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getDataServlet</servlet-name>
        <url-pattern>/getDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>operationServlet</servlet-name>
        <url-pattern>/operationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>


    <!-- 默认首页定义 -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>